<footer class="footer">
	<h3>FOLLOW ME</h3><br>

  <ul class="social-list">
        <li>
          <a href="https://www.facebook.com/browthersurgal/"  target="_blanck">
            <img src="imagens/face.png" width="40px" title="FaceBook"></a>
        </li>
        <li>
          <a href="https://www.instagram.com/djsbrowthers/"target="_blanck">
            <img  src="imagens/insta.png" width="40px" title="InstaGram">
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCKRdGyb8TI1jBhXgLGqepOQ?view_as=subscriber" target="_blanck">
            <img  src="imagens/you.png" width="40px" title="YouTube">
          </a>
        </li>
        <li>
          <a href="https://soundcloud.com/browthers">
            <img  src="imagens/so.png" width="40px" title="SoundCloud">
          </a>
        </li>

          <nav>
    		<ul class="footer-nav nav-links">
      		{% include nav-links.html %}
    		</ul>
  		</nav>
  		<h3>Browthers</h3>
      </ul>

    
 
</footer>